user_uuid= "27f6ef45-61ab-4a86-aa57-cf8452dfc2be"
bucket_name= "w3mdapixuxpuld4hf5lal90ynxxufl"
index_html_filepath =  "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath =  "/workspace/terraform-beginner-bootcamp-2023/public/error.html"